.banner {
    --banner-image: url("/src/assets/img/fondo-mobile.png");
    background-image:
        linear-gradient(to bottom, transparent 70%, var(--bg-principal) 100%),
        var(--banner-image);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    .banner {
        --banner-image: url("/src/assets/img/fondo-desktop.png");
    }
}