.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 104px - 76px);
}

.error-container h1 {
    font-family: var(--font-header);
    font-size: 6rem;
    color: var(--error);
    text-shadow: 0 0 15px var(--error);
}

.error-container p {
    font-family: var(--font-ui);
    font-size: 1rem;
    color: var(--texto-secundario);
    margin-bottom: 2rem;
}

.home-link {
    font-family: var(--font-ui);
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--detalles);
    border-radius: 5px;
    text-transform: uppercase;
}

.home-link:hover {
    background-color: var(--detalles);
    color: var(--bg-principal);
    box-shadow: 0 0 10px var(--detalles);
}

body.error-404-page .error-container h1.error-code {
    color: var(--resaltado);
    text-shadow: 0 0 15px var(--resaltado);
}

@media (min-width: 768px) {
    .error-container h1 {
        font-size: 10rem;
    }

    .error-container p {
        font-size: 1.5rem;
    }

    .error-page {
        height: calc(100vh - 90px - 66px);
    }
}