.banner {
    background-image: linear-gradient(to bottom, transparent 70%, var(--bg-principal) 100%), url('../img/fondo-mobile.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Restauramos la altura al 100% de la pantalla */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    .banner {
        background-image: linear-gradient(to bottom, transparent 70%, var(--bg-principal) 100%),url('../img/fondo-desktop.png');
    }
}